
/*
I use the :root command to store the colors in a central place:
*/


.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name
*/

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



:root {
    --base-color: #D6F2E1;
    --text-color: #000000;
    --primary-color: #0C7033;
    --secondary-color: #EFFFF5;
    --color-1: #FFFFFF;
    --color-2: #B4E9C8;
    --color-3: #F6F3F9;
}

/*
To ensure that the default browser spacing doesn't affect the elements I use,
I set box-sizing to border-box to make surre padding or borders don't
mess up the size calculations for any elements.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(1em, 15%);
    border-radius: 0.5em;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-2);
    padding: min(1em, 15%);
    border-radius: 0.5em;
}


.logo {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.logo-info-connect {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo-and-info {
    display: flex;
    align-content: center;
    flex-direction: column;
}

h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


/*
To ensure elements stay in the right place:
- The nav element with the defined margin, 
defines the top, right, bottom and left margins.
-> For left and right, auto so the element
is centered horizontally on the page.
- On the width property I use the min function, 
meaning a nav bar can grow up to 1000px, but never 
go wider than the screen size. 
-> makes it look good, both on large and small screens.
*/

.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
}

.logo {
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: right;
    flex-direction: row;
}

.nav-footer ul {
    display: flex;
    gap: .7rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
    font-family: 'Inter';
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
}

.connect-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.connect-footer a {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
    font-weight: 500;
}

.connect-footer a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: flex-start;
    font-size: .7rem;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
}

.nav a:hover {
    text-decoration: underline;
}

.nav-footer a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-footer a:hover {
    text-decoration: underline;
}


.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
    .features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
    .privacy-statement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
    .about-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
}

.hero img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1em;
}


.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.features ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 2em;
}

.privacy-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em auto;
    width: min(75em, 100%);
    background-color: var(--primary-color);
    padding: min(1em, 15%);
    border-radius: 0.5em;
    color: var(--color-1);
}

.contact-legal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em auto;
    width: min(75em, 100%);
    background-color: var(--primary-color);
    padding: min(1em, 15%);
    border-radius: 0.5em;
    color: var(--color-1);
}

.contact-us {
    margin: .5em auto 2em auto;
    width: min(1000px, 100%);
    color: #FFFFFF;
    flex-direction: column;
    display: flex;
    gap: .5em;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}
