
/* Setup fonts, colors, basic margins and padding*/

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
    --base-color: #D6F2E1;
    --text-color: #000000;
    --primary-color: #0C7033;
    --secondary-color: #EFFFF5;
    --color-1: #FFFFFF;
    --color-2: #B4E9C8;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
    line-height: 1.6;
}

h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* End basic setup fonts, colors, margins */

/* Basic setup containers */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*Header setup*/

.header {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(1em, 15%);
    border-radius: 0.5em;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.logo {
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: right;
    flex-direction: row;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
}

.nav a:hover {
    text-decoration: underline;
}

.nav-footer a {
    text-decoration: none;
    color: var(--text-color);
}

/* Footer setup*/

.site-footer {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-2);
    padding: min(1em, 15%);
    border-radius: 0.5em;
}

.logo-info-connect {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo-and-info {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
}

.nav-footer ul {
    display: flex;
    gap: .7rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
    font-family: 'Inter';
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
}

.nav-footer a:hover {
    text-decoration: underline;
}

.connect-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.connect-footer a {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
    font-weight: 500;
}

.connect-footer a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: flex-start;
    font-size: .7rem;
}

/* Index.html main setup */

.media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    margin-bottom: 4em;
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
}

.features {
    display: flex;
    align-items: center;
    justify-content: column;
    gap: 1em;
    margin: 1em auto;
    width: min(90%, 100%);
    background-color: var(--color-1);
}

.features .feature-grid {
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto;
    width: min(90%, 100%);
    background-color: var(--primary-color);
    padding: 1.5em;
    border-radius: 0.5em;
    color: var(--color-1);
    text-align: center;
}

/* About us main setup */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}


/* Legal main setup */

.privacy-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Contact box for about us and legal page */

.contact-legal {
    display: flex;
    justify-content: column;
    align-items: center;
    gap: 1em;
    margin: 1em auto;
    width: min(90%, 100%);
    background-color: var(--primary-color);
    padding: 1.5em;
    border-radius: 0.5em;
    color: var(--color-1);
    text-align: center
}

/* CTA-buttons*/

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

/* News List Page */

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.news-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
    gap: 1.5em;
    padding: 0;
}

.news-list h3 a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: .5em;
    font-weight: 600;
}

/* Tablet (> 768px)*/

@media (min-width: 768px) {

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 2em 3em;
        max-width: 90%;
    }
    .hero img {
        width: 350px;
        height:350px;
    }
    .features ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5em;
        text-align: left;
    }

    .contact-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        text-align: left;
        width: min(80%, 60em);
        padding: 2em 3em;
    }

    .privacy-statement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
    .about-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1em;
    }
    .about-us img {
        width: 250px;
        height: auto;
    }
}

/* Desktop (>1200px) */

@media (min-width: 1200px) {
    .hero {
        max-width: 1200px;
        gap: 4em;
        padding: 3em 5em;
    }
    .features {
        max-width: 1200px;
        gap: 3em;
        padding: 3em 5em;
    }

    .contact-box {
        width: min(75em, 100%);
        padding: 3em 6em;
    }
    
    .about-us {
        max-width: 1200px;
        gap: 4em;
        padding: 2em 4em;
    }
    .contact-legal {
        width: min(75em, 100%);
        padding: 3em 6em;
    }
    .about-us p {
        font-size: 1.1rem;
    }
}


